.fileCard {
  background-color: var(--background-paper);
  aspect-ratio: 1 / 1;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: var(--text-secondary);
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 0 1px inset var(--alpha-solid-07);
  overflow: hidden;
  position: relative;
}

.fileCard--dragging {
  opacity: 0;
}

.fileCard--overlay {
  z-index: 2000;
  background-color: var(--blue-100);
  box-shadow: 0 0 0 1px inset var(--blue-600);
}

.fileCard--overlay .fileCard__toolbar {
  opacity: 0 !important;
}

.fileCard__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
  overflow: hidden;
  display: block;
  flex-shrink: 0;
}

.fileCard__imageContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.fileCard__image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.fileCard__toolbar {
  opacity: 0;
  transition: opacity 240ms ease;
  position: absolute;
  right: 8px;
  top: 8px;
}

.fileCard:hover .fileCard__toolbar {
  opacity: 1;
}

.fileCard__toolbar[data-menu-open='true'] {
  opacity: 1;
}

.fileCard__coverBadge {
  position: absolute;
  width: fit-content;
  left: 8px;
  top: 8px;
  border-radius: 8px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  user-select: none;
  transition: all 240ms ease;
  width: 128px;
  white-space: nowrap;
  overflow: hidden;
  padding: 8px 12px;
}

.fileCard__coverBadge > svg {
  flex-shrink: 0;
}

.fileCard:has(.fileCard__toolbar[data-menu-open='true']) .fileCard__coverBadge,
.fileCard:hover .fileCard__coverBadge {
  width: 32px;
  padding: 8px;
}

.fileCard__menuHeader > h6 {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  color: var(--text-secondary);
}

.fileCard__menuHeader > p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-hint);
}
