.header {
  background: var(--background-paper);
  position: relative;
  padding: 16px 24px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  gap: 0;
  height: var(--header-height);
  min-height: var(--header-height);
  align-items: center;
}

.header__nav {
  --gap: 8px;
  --logo-offset: calc(32px + var(--gap));
  /** Logo width + gap + visual padding */
  padding-left: calc(var(--logo-offset) + 4px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap);
  width: 100%;
}

.header a {
  text-decoration: none;
}

.header__logo {
  display: inline-flex;
  text-decoration: none;
  left: 24px;
  top: 16px;
  z-index: var(--logo-zIndex);
}

.header__menuIcon {
  width: 28px;
  height: 40px;
  padding: 0 !important;
}

.header__avatarAndNameContainer {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-primary);
  transition-duration: 120ms;
  transition-timing-function: ease;
  transition-property: scale;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.header__avatarAndNameContainer:active {
  scale: 0.98;
}

.header__title {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (width < 600px) {
  .header {
    padding: 16px;
    padding-bottom: 8px;
  }

  .header__nav {
    --logo-offset: 0;
  }

  .header__title[data-should-hide="true"] {
    display: none;
  }
}
