#storybook-root,
html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-geist-sans);
  background: var(--background-default);
}

* {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
}

svg:not(.svg-own-color) path {
  fill: currentColor;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

::view-transition-old(default) {
  animation: fadeOut 250ms ease !important;
}
::view-transition-new(default) {
  animation: fadeIn 250ms ease !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
