@import 'tailwindcss';

@tailwind utilities;

@import '@valley/tailwind/styles';
@import '@valley/ui/styles';
@import '@valley/gallery-module/styles';
@import '@uppy/core/dist/style.min.css';
@import 'overlayscrollbars/overlayscrollbars.css';
@import './fonts.css';

#storybook-root,
html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-family: var(--font-geist-sans);
  background: var(--background-default);

  --fieldset-max-width: 720px;
}

* {
  box-sizing: border-box;
}

svg:not(.svg-own-color) {
  fill: currentColor;
}

svg:not(.svg-own-color) path {
  fill: currentColor;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

::view-transition-old(default) {
  animation: fadeOut 250ms ease !important;
}
::view-transition-new(default) {
  animation: fadeIn 250ms ease !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
