.App[data-theme='dark'] {
  /** Background */
  --background-default: #0a0a0a;
  --background-paper: #0e0e0e;

  /** Button */
  --button-focused-fg: white;
  --button-focused-fg-inversed: rgba(0, 0, 0, 0.8);

  /** Button / Primary */
  --button-primary-fg: var(--text-primary-inversed);
  --button-primary-bg: #ededed;
  --button-primary-hovered-fg: var(--text-primary-inversed);
  --button-primary-hovered-bg: rgba(237, 237, 237, 0.9);

  /** Button / Secondary */
  --button-secondary-fg: var(--text-primary);
  --button-secondary-bg: var(--background-paper);
  --button-secondary-border: var(--alpha-transparent-12);
  --button-secondary-hovered-fg: var(--text-primary);
  --button-secondary-hovered-bg: #1a1a1a;

  /** Button / Secondary Dimmed */
  --button-secondary-dimmed-fg: var(--text-secondary);
  --button-secondary-dimmed-bg: var(--background-paper);
  --button-secondary-dimmed-border: var(--alpha-transparent-12);
  --button-secondary-dimmed-hovered-fg: var(--text-primary);
  --button-secondary-dimmed-hovered-bg: #1a1a1a;

  /** Button / Tertiary */
  --button-tertiary-fg: var(--text-primary);
  --button-tertiary-bg: transparent;
  --button-tertiary-hovered-fg: var(--text-primary);
  --button-tertiary-hovered-bg: var(--alpha-transparent-07);

  /** Button / Tertiary  Dimmed */
  --button-tertiary-dimmed-fg: var(--text-hint);
  --button-tertiary-dimmed-bg: transparent;
  --button-tertiary-dimmed-hovered-fg: var(--text-secondary);
  --button-tertiary-dimmed-hovered-bg: var(--alpha-transparent-07);
  --button-tertiary-dimmed-focused-fg: rgba(237, 237, 237, 0.7);

  /** Button / Warning */
  --button-warning-fg: var(--text-primary-inversed);
  --button-warning-bg: #ff990a;
  --button-warning-hovered-fg: var(--text-primary-inversed);
  --button-warning-hovered-bg: #ffaf3e;

  /** Button / Danger */
  --button-danger-fg: #ffffff;
  --button-danger-bg: #d93036;
  --button-danger-hovered-fg: var(--button-danger-fg);
  --button-danger-hovered-bg: #ff585e;

  /** Button / Disabled */
  --button-disabled-fg: rgba(237, 237, 237, 0.5);
  --button-disabled-bg: #1a1a1a;
  --button-disabled-border: var(--alpha-transparent-07);

  /** Text */
  --text-primary: rgba(237, 237, 237, 1);
  --text-secondary: rgba(237, 237, 237, 0.63);
  --text-hint: rgba(237, 237, 237, 0.4);

  /** Text / Inversed */
  --text-primary-inversed: rgba(10, 10, 10, 1);
  --text-secondary-inversed: rgba(10, 10, 10, 0.63);
  --text-hint-inversed: rgba(10, 10, 10, 0.4);

  /** Input */
  --input-border: #2b2b2b;
  --input-border-focused: var(--text-secondary);
  --input-border-focused-shadow: rgba(255, 255, 255, 0.24);

  /** Alpha */
  --alpha-solid-07: #1c1c1c;
  --alpha-transparent-07: rgba(255, 255, 255, 0.07);
  --alpha-transparent-12: rgba(255, 255, 255, 0.12);
  --alpha-transparent-32: rgba(255, 255, 255, 0.32);

  /** Shadow */
  --shadow-0: none;
  --shadow-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadow-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --shadow-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --shadow-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --shadow-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --shadow-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);

  /** Modal */
  --modal-backdrop: rgba(10, 10, 10, 0.5);
}

.App[data-theme='light'] {
  /** Background */
  --background-default: #fafafa;
  --background-paper: #ffffff;

  /** Button */
  --button-focused-fg: rgb(0, 0, 0);
  --button-focused-fg-inversed: rgba(255, 255, 255, 1);

  /** Button / Primary */
  --button-primary-fg: var(--text-primary-inversed);
  --button-primary-bg: rgb(10, 10, 10);
  --button-primary-hovered-fg: var(--text-primary-inversed);
  --button-primary-hovered-bg: rgba(10, 10, 10, 0.9);

  /** Button / Secondary */
  --button-secondary-fg: var(--text-primary);
  --button-secondary-bg: var(--background-paper);
  --button-secondary-border: var(--alpha-transparent-12);
  --button-secondary-hovered-fg: var(--text-primary);
  --button-secondary-hovered-bg: #f3f3f3;

  /** Button / Secondary Dimmed */
  --button-secondary-dimmed-fg: var(--text-secondary);
  --button-secondary-dimmed-bg: var(--background-paper);
  --button-secondary-dimmed-border: var(--alpha-transparent-12);
  --button-secondary-dimmed-hovered-fg: var(--text-primary);
  --button-secondary-dimmed-hovered-bg: #f3f3f3;

  /** Button / Tertiary */
  --button-tertiary-fg: var(--text-primary);
  --button-tertiary-bg: transparent;
  --button-tertiary-hovered-fg: var(--text-primary);
  --button-tertiary-hovered-bg: var(--alpha-transparent-07);

  /** Button / Tertiary  Dimmed */
  --button-tertiary-dimmed-fg: var(--text-hint);
  --button-tertiary-dimmed-bg: transparent;
  --button-tertiary-dimmed-hovered-fg: var(--text-secondary);
  --button-tertiary-dimmed-hovered-bg: var(--alpha-transparent-07);
  --button-tertiary-dimmed-focused-fg: rgba(23, 23, 23, 0.7);

  /** Button / Warning */
  --button-warning-fg: var(--text-primary);
  --button-warning-bg: #f99c1b;
  --button-warning-hovered-fg: var(--button-warning-fg);
  --button-warning-hovered-bg: #d98817;

  /** Button / Danger */
  --button-danger-fg: #ffffff;
  --button-danger-bg: #d93036;
  --button-danger-hovered-fg: var(--button-danger-fg);
  --button-danger-hovered-bg: #b52e33;

  /** Button / Disabled */
  --button-disabled-fg: rgba(23, 23, 23, 0.5);
  --button-disabled-bg: #f3f3f3;
  --button-disabled-border: var(--alpha-transparent-07);

  /** Text */
  --text-primary: rgb(23, 23, 23);
  --text-secondary: rgba(23, 23, 23, 0.63);
  --text-hint: rgba(23, 23, 23, 0.4);

  /** Text / Inversed */
  --text-primary-inversed: rgba(237, 237, 237, 1);
  --text-secondary-inversed: rgba(237, 237, 237, 0.63);
  --text-hint-inversed: rgba(237, 237, 237, 0.4);

  /** Input */
  --input-border: rgba(23, 23, 23, 0.12);
  --input-border-focused: var(--text-secondary);
  --input-border-focused-shadow: rgba(0, 0, 0, 0.16);

  /** Alpha */
  --alpha-solid-07: rgba(23, 23, 23, 0.07);
  --alpha-transparent-07: rgba(23, 23, 23, 0.07);
  --alpha-transparent-12: rgba(23, 23, 23, 0.12);
  --alpha-transparent-32: rgba(23, 23, 23, 0.32);

  /** Shadow */
  --shadow-0: none;
  --shadow-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadow-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --shadow-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --shadow-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --shadow-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --shadow-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);

  /** Modal */
  --modal-backdrop: rgba(255, 255, 255, 0.5);
}
