**/node_modules
**/.next
**/dist
node_modules
out
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/.cache
**/.cache
**/build
**/public/build