.iconButton {
  --x-padding: 8px;
  flex-shrink: 0;
}

.iconButton.iconButton--size-sm {
  padding: 8px;
  --x-padding: 8px;
}

.iconButton.iconButton--size-md {
  padding: 12px;
  --x-padding: 12px;
}

.iconButton.iconButton--size-lg {
  padding: 16px;
  --x-padding: 16px;
}

.iconButton.iconButton--size-xl {
  padding: 18px;
  --x-padding: 18px;
}

.iconButton.iconButton--size-xl span,
.iconButton.iconButton--size-xl svg {
  width: 20px;
  height: 20px;
}

.iconButton.iconButton.iconButton--size-sm.iconButton.iconButton--loading,
.iconButton.iconButton.iconButton--size-md.iconButton.iconButton--loading {
  --spinner-size: 16px;
}

.iconButton.iconButton.iconButton--size-lg.iconButton.iconButton--loading {
  padding: 14px;
  --x-padding: 14px;
  --spinner-size: 20px;
}

.iconButton.iconButton.iconButton--size-xl.iconButton.iconButton--loading {
  padding: 18px;
  --x-padding: 18px;
  --spinner-size: 20px;
}

.iconButton.iconButton--loading span {
  height: var(--spinner-size);
}

.iconButton span {
  height: 16px;
}
