.App,
#storybook-root,
html,
body {
  height: 100%;
  margin: 0;
  background: var(--background-default);
}

* {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
}

path {
  fill: currentColor;
}

.App {
  --header-zIndex: 100;
  --toolbar-zIndex: 100;
  --overlay-zIndex: 500;
  --logo-zIndex: 200;
}
