.modal__dialogOverlay {
  background: var(--modal-backdrop);
  z-index: 1200;
  position: fixed;
  inset: 0px;
  -webkit-tap-highlight-color: transparent;
}

.modal__dialogOverlay[data-state='open'] {
  animation: fadeIn 320ms ease-in-out;
}

.modal__dialogOverlay[data-state='closed'] {
  animation: fadeOut 320ms ease-in-out;
}

.modal__dialog {
  z-index: 1300;
  max-width: 480px;
  width: calc(100% - 32px);
  background: var(--background-default);
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 0;
  outline: none;
  overflow: hidden;
  border-radius: 24px;
  border: 1px solid var(--alpha-transparent-12);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__dialog[data-state='open'] {
  animation: growIn 320ms cubic-bezier(0.32, 0.72, 0, 1);
}

.modal__dialog[data-state='closed'] {
  animation: growOut 320ms cubic-bezier(0.32, 0.72, 0, 1);
}

.modal__drawer {
  background: var(--background-default);
  width: 100%;
  max-width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 0;
  outline: none;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1300;
  overflow: hidden;
  overscroll-behavior: none;
  top: auto;
  max-height: 80dvh;
  min-height: 5dvh;
  transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1);
  border: none;
  box-shadow:
    0 0 0 1px hsla(0, 0%, 100%, 0.145),
    0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 4px 8px -4px rgba(0, 0, 0, 0.04),
    0px 16px 24px -8px rgba(0, 0, 0, 0.06);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes growIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95) translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) translateY(0px);
  }
}

@keyframes growOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) translateY(0px);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95) translateY(0px);
  }
}
