.modalHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: flex-start;
  padding: 28px 24px;
  padding-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
  color: var(--text-primary);
  margin: 0;
}
