.projects {
  display: flex;
}

.projects__bannerBlocks {
  width: 100%;
  padding-top: 16px;
  gap: 0;
  width: 100%;
  overflow: auto;
  flex-shrink: 0;
}

.projects__bannerBlocks > [data-overlayscrollbars-contents] {
  position: relative;
  gap: 12px;
  display: flex;
  flex-direction: row;
}

.projects__list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 16px 0;
  gap: 16px;
  width: 100%;
}

.projects__searchBar {
  padding-top: 16px;
}

.projects__searchInput {
  max-width: 280px;
}

.projects__placeholder {
  position: relative;
  isolation: isolate;
}

.projects__placeholder h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  text-align: center;
}

.projects__placeholder p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-align: center;
}

.projects__placeholderIllustration {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -10;
  pointer-events: none;
  user-select: none;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

@media screen and (min-width: 660px) {
  .projects__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 960px) {
  .projects__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
