.fade {
  --fade-duration: 120ms;
  --fade-timing-function: ease-in-out;
  --fade-transition-property: visibility, opacity;
  transition-property: var(--fade-transition-property);
  transition-duration: var(--fade-duration);
  transition-timing-function: var(--fade-timing-function);
  opacity: 0;
  visibility: hidden;
}

.fade[data-fade-in='true'] {
  opacity: 1;
  visibility: visible;
}

.fade[data-fade-in='false'] {
  opacity: 0;
  visibility: hidden;
}

.fade-in {
  --fade-duration: 250ms;
  --fade-timing-function: ease-in-out;
  animation: var(--fade-timing-function) var(--fade-duration) fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grow {
  --grow-duration: 120ms;
  --grow-timing-function: ease-in-out;
  --grow-origin: center center;
  --grow-transition-property: opacity, scale, translate;
  transition-property: var(--grow-transition-property);
  transition-duration: var(--grow-duration);
  transition-timing-function: var(--grow-timing-function);
  transform-origin: var(--grow-origin);

  opacity: 0;
  scale: 0.95;
  translate: 0 8px;
  visibility: hidden;
}

.grow[data-grow-in='true'] {
  opacity: 1;
  scale: 1;
  translate: 0 0px;
  visibility: visible;
}

.grow[data-grow-in='false'] {
  opacity: 0;
  scale: 0.95;
  translate: 0 8px;
  visibility: hidden;
}

.shimmer {
  position: relative;
  mask-image: -webkit-radial-gradient(center, white, black);
  overflow: hidden;
  opacity: 0.75;
  user-select: none;
  pointer-events: none;
  cursor: default;
  transition: all 150ms ease;
}

.shimmer::after {
  background: linear-gradient(
    90deg,
    transparent,
    var(--alpha-transparent-07),
    transparent
  );
  content: '';
  position: absolute;
  transform: translateX(-100%);
  transition: all 150ms ease;
  inset: 0px;
  animation: 1s linear 0s infinite normal none running animation-shimmer;
}

@keyframes animation-shimmer {
  0% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
