.valley-themed[data-theme='dark'] {
  /** Background */
  --background-default: #0a0a0a;
  --background-paper: #0e0e0e;

  /** Button */
  --button-focused-fg: white;
  --button-focused-fg-inversed: rgba(0, 0, 0, 0.8);

  /** Button / Primary */
  --button-primary-fg: var(--text-primary-inversed);
  --button-primary-bg: #ededed;
  --button-primary-hovered-fg: var(--text-primary-inversed);
  --button-primary-hovered-bg: rgba(237, 237, 237, 0.9);

  /** Button / Secondary */
  --button-secondary-fg: var(--text-primary);
  --button-secondary-bg: var(--background-paper);
  --button-secondary-border: var(--alpha-transparent-12);
  --button-secondary-hovered-fg: var(--text-primary);
  --button-secondary-hovered-bg: #1a1a1a;

  /** Button / Secondary Dimmed */
  --button-secondary-dimmed-fg: var(--text-secondary);
  --button-secondary-dimmed-bg: var(--background-paper);
  --button-secondary-dimmed-border: var(--alpha-transparent-12);
  --button-secondary-dimmed-hovered-fg: var(--text-primary);
  --button-secondary-dimmed-hovered-bg: #1a1a1a;

  /** Button / Tertiary */
  --button-tertiary-fg: var(--text-primary);
  --button-tertiary-bg: transparent;
  --button-tertiary-hovered-fg: var(--text-primary);
  --button-tertiary-hovered-bg: var(--alpha-transparent-07);

  /** Button / Tertiary  Dimmed */
  --button-tertiary-dimmed-fg: var(--text-hint);
  --button-tertiary-dimmed-bg: transparent;
  --button-tertiary-dimmed-hovered-fg: var(--text-secondary);
  --button-tertiary-dimmed-hovered-bg: var(--alpha-transparent-07);
  --button-tertiary-dimmed-focused-fg: rgba(237, 237, 237, 0.7);

  /** Button / Warning */
  --button-warning-fg: var(--text-primary-inversed);
  --button-warning-bg: #ff990a;
  --button-warning-hovered-fg: var(--text-primary-inversed);
  --button-warning-hovered-bg: #ffaf3e;

  /** Button / Danger */
  --button-danger-fg: #ffffff;
  --button-danger-bg: #d93036;
  --button-danger-hovered-fg: var(--button-danger-fg);
  --button-danger-hovered-bg: #ff585e;

  /** Button / Disabled */
  --button-disabled-fg: rgba(237, 237, 237, 0.5);
  --button-disabled-bg: #1a1a1a;
  --button-disabled-border: var(--alpha-transparent-07);

  /** Button / Github Theme */
  --button-github-theme-fg: var(--text-primary);
  --button-github-theme-bg: #24292e;
  --button-github-theme-hovered-fg: var(--text-primary);
  --button-github-theme-hovered-bg: #313941;

  /** Button / Google Theme */
  --button-google-theme-fg: var(--text-primary);
  --button-google-theme-bg: var(--alpha-transparent-07);
  --button-google-theme-hovered-fg: var(--text-primary);
  --button-google-theme-hovered-bg: var(--alpha-transparent-12);

  /** Button / VK Theme */
  --button-vk-theme-fg: var(--text-primary);
  --button-vk-theme-bg: #0067dc;
  --button-vk-theme-hovered-fg: var(--text-primary);
  --button-vk-theme-hovered-bg: #1375e5;

  /** Text */
  --text-primary: rgba(237, 237, 237, 1);
  --text-secondary: rgba(237, 237, 237, 0.63);
  --text-hint: rgba(237, 237, 237, 0.4);

  /** Text / Inversed */
  --text-primary-inversed: rgba(10, 10, 10, 1);
  --text-secondary-inversed: rgba(10, 10, 10, 0.63);
  --text-hint-inversed: rgba(10, 10, 10, 0.4);

  /** Input */
  --input-border: #2b2b2b;
  --input-border-focused: var(--text-secondary);
  --input-border-focused-shadow: rgba(255, 255, 255, 0.24);

  /** Alpha */
  --alpha-solid-07: #1c1c1c;
  --alpha-transparent-07: rgba(255, 255, 255, 0.07);
  --alpha-transparent-12: rgba(255, 255, 255, 0.12);
  --alpha-transparent-32: rgba(255, 255, 255, 0.32);

  /** Shadow */
  --shadow-0: none;
  --shadow-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadow-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --shadow-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --shadow-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --shadow-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --shadow-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);

  /** Overlay */
  --overlay-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.03),
    0 4px 16px 0 rgba(255, 255, 255, 0.03);

  /** Modal */
  --modal-backdrop: rgba(10, 10, 10, 0.5);
}

.valley-themed[data-theme='light'] {
  /** Background */
  --background-default: #fafafa;
  --background-paper: #ffffff;

  /** Button */
  --button-focused-fg: rgb(0, 0, 0);
  --button-focused-fg-inversed: rgba(255, 255, 255, 1);

  /** Button / Primary */
  --button-primary-fg: var(--text-primary-inversed);
  --button-primary-bg: rgb(10, 10, 10);
  --button-primary-hovered-fg: var(--text-primary-inversed);
  --button-primary-hovered-bg: rgba(10, 10, 10, 0.9);

  /** Button / Secondary */
  --button-secondary-fg: var(--text-primary);
  --button-secondary-bg: var(--background-paper);
  --button-secondary-border: var(--alpha-transparent-12);
  --button-secondary-hovered-fg: var(--text-primary);
  --button-secondary-hovered-bg: #f3f3f3;

  /** Button / Secondary Dimmed */
  --button-secondary-dimmed-fg: var(--text-secondary);
  --button-secondary-dimmed-bg: var(--background-paper);
  --button-secondary-dimmed-border: var(--alpha-transparent-12);
  --button-secondary-dimmed-hovered-fg: var(--text-primary);
  --button-secondary-dimmed-hovered-bg: #f3f3f3;

  /** Button / Tertiary */
  --button-tertiary-fg: var(--text-primary);
  --button-tertiary-bg: transparent;
  --button-tertiary-hovered-fg: var(--text-primary);
  --button-tertiary-hovered-bg: var(--alpha-transparent-07);

  /** Button / Tertiary  Dimmed */
  --button-tertiary-dimmed-fg: var(--text-hint);
  --button-tertiary-dimmed-bg: transparent;
  --button-tertiary-dimmed-hovered-fg: var(--text-secondary);
  --button-tertiary-dimmed-hovered-bg: var(--alpha-transparent-07);
  --button-tertiary-dimmed-focused-fg: rgba(23, 23, 23, 0.7);

  /** Button / Warning */
  --button-warning-fg: var(--text-primary);
  --button-warning-bg: #f99c1b;
  --button-warning-hovered-fg: var(--button-warning-fg);
  --button-warning-hovered-bg: #d98817;

  /** Button / Danger */
  --button-danger-fg: #ffffff;
  --button-danger-bg: #d93036;
  --button-danger-hovered-fg: var(--button-danger-fg);
  --button-danger-hovered-bg: #b52e33;

  /** Button / Disabled */
  --button-disabled-fg: rgba(23, 23, 23, 0.5);
  --button-disabled-bg: #f3f3f3;
  --button-disabled-border: var(--alpha-transparent-07);

  /** Button / Github Theme */
  --button-github-theme-fg: var(--text-primary-inversed);
  --button-github-theme-bg: #24292e;
  --button-github-theme-hovered-fg: var(--background-default);
  --button-github-theme-hovered-bg: #313941;
  --button-github-theme-focused-fg: var(--button-focused-fg-inversed);

  /** Button / Google Theme */
  --button-google-theme-fg: var(--text-primary);
  --button-google-theme-bg: var(--alpha-transparent-07);
  --button-google-theme-hovered-fg: var(--text-primary);
  --button-google-theme-hovered-bg: var(--alpha-transparent-12);
  --button-google-theme-focused-fg: var(--button-focused-fg);

  /** Button / VK Theme */
  --button-vk-theme-fg: var(--text-primary-inversed);
  --button-vk-theme-bg: #0067dc;
  --button-vk-theme-hovered-fg: var(--background-default);
  --button-vk-theme-hovered-bg: #1375e5;
  --button-vk-theme-focused-fg: var(--button-focused-fg-inversed);

  /** Text */
  --text-primary: rgb(23, 23, 23);
  --text-secondary: rgba(23, 23, 23, 0.63);
  --text-hint: rgba(23, 23, 23, 0.4);

  /** Text / Inversed */
  --text-primary-inversed: rgba(237, 237, 237, 1);
  --text-secondary-inversed: rgba(237, 237, 237, 0.63);
  --text-hint-inversed: rgba(237, 237, 237, 0.4);

  /** Input */
  --input-border: rgba(23, 23, 23, 0.12);
  --input-border-focused: var(--text-secondary);
  --input-border-focused-shadow: rgba(0, 0, 0, 0.16);

  /** Alpha */
  --alpha-solid-07: rgba(23, 23, 23, 0.07);
  --alpha-transparent-07: rgba(23, 23, 23, 0.07);
  --alpha-transparent-12: rgba(23, 23, 23, 0.12);
  --alpha-transparent-32: rgba(23, 23, 23, 0.32);

  /** Shadow */
  --shadow-0: none;
  --shadow-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadow-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --shadow-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --shadow-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --shadow-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --shadow-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);

  /** Overlay */
  --overlay-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.03),
    0 4px 16px 0 rgba(0, 0, 0, 0.03);

  /** Modal */
  --modal-backdrop: rgba(255, 255, 255, 0.5);
}

.valley-themed {
  /** Colors / Gray */
  --gray-100: #1a1a1a;
  --gray-200: #1f1f1f;
  --gray-300: #292929;
  --gray-400: #2e2e2e;
  --gray-500: #454545;
  --gray-600: #878787;
  --gray-700: #8f8f8f;
  --gray-800: #7d7d7d;
  --gray-900: #a1a1a1;
  --gray-1000: #ededed;

  /** Colors / Blue */
  --blue-100: #0f1c2e;
  --blue-200: #10233d;
  --blue-300: #0f2f57;
  --blue-400: #0d3868;
  --blue-500: #0a4380;
  --blue-600: #0091ff;
  --blue-700: #0072f5;
  --blue-800: #0062d1;
  --blue-900: #52a8ff;
  --blue-1000: #ebf6ff;

  /** Colors / Green */
  --green-100: #0b2212;
  --green-200: #0f2e18;
  --green-300: #12361b;
  --green-400: #0c451b;
  --green-500: #126426;
  --green-600: #1a9338;
  --green-700: #45a557;
  --green-800: #398e4a;
  --green-900: #62c073;
  --green-1000: #e5fbea;

  /** Colors / Red */
  --red-100: #2a1314;
  --red-200: #3c1618;
  --red-300: #561a1e;
  --red-400: #671e21;
  --red-500: #832126;
  --red-600: #e5484d;
  --red-700: #e5484d;
  --red-800: #d93036;
  --red-900: #ff6166;
  --red-1000: #feecee;

  /** Colors / Amber */
  --amber-100: #291800;
  --amber-200: #331b00;
  --amber-300: #4d2a00;
  --amber-400: #573300;
  --amber-500: #6b4105;
  --amber-600: #e79d13;
  --amber-700: #ffb224;
  --amber-800: #ff990a;
  --amber-900: #f2a20d;
  --amber-1000: #fef3dc;

  /** Colors / Green */
  --green-100: #0b2212;
  --green-200: #0f2e18;
  --green-300: #12361b;
  --green-400: #0c451b;
  --green-500: #126426;
  --green-600: #1a9338;
  --green-700: #45a557;
  --green-800: #398e4a;
  --green-900: #62c073;
  --green-1000: #e5fbea;

  /** Colors / Teal */
  --teal-100: #04201b;
  --teal-200: #062822;
  --teal-300: #083a33;
  --teal-400: #053d35;
  --teal-500: #085e53;
  --teal-600: #0c9784;
  --teal-700: #12a594;
  --teal-800: #0d8c7d;
  --teal-900: #0ac7b4;
  --teal-1000: #e0faf4;

  /** Colors / Purple */
  --purple-100: #231528;
  --purple-200: #2e1938;
  --purple-300: #422154;
  --purple-400: #4f2768;
  --purple-500: #5f2e85;
  --purple-600: #8e4ec6;
  --purple-700: #8e4ec6;
  --purple-800: #763da9;
  --purple-900: #bf7af0;
  --purple-1000: #f8edfc;

  /** Colors / Pink */
  --pink-100: #28151d;
  --pink-200: #3a1726;
  --pink-300: #4f1c31;
  --pink-400: #551b33;
  --pink-500: #6c1e3e;
  --pink-600: #b31957;
  --pink-700: #ea3e83;
  --pink-800: #df2670;
  --pink-900: #f75f8f;
  --pink-1000: #feecf4;
}
