.label {
  display: flex;
  font-size: 14px;
  font-weight: 420;
  color: var(--text-secondary);
  margin-bottom: 8px;
  gap: 4px;
  align-items: center;
  user-select: none;
}

.label--standalone {
  margin-bottom: 0;
}

.label--fullHeight {
  height: 100%;
}

.label--fullWidth {
  width: 100%;
}

.label__requiredStar {
  color: var(--red-600);
}

.label--size-md {
  font-size: 13px;
  font-weight: 420;
}

.label--size-lg {
  font-size: 14px;
  font-weight: 420;
}
