.pageHeader {
  min-height: 120px;
  padding-top: 0;
  padding-bottom: 0;
}

.pageHeader__title {
  margin: 0;
  padding: 40px 0;
  font-family: var(--font-geist-sans);
  font-size: 32px;
  font-weight: 600;
  flex-grow: 1;
  display: flex;
  line-height: 40px;
}

.pageHeader__before {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
