.buttonBase {
  --font-size: 14px;
  --line-height: 16px;
}

.buttonBase {
  font-family: var(--font-geist-sans);
  border-radius: 8px;
  max-width: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  /** IMPORTANT: DO NOT CHANGE TO "all", ADD PROPERTY INSTEAD
   *  Somehow it breaks  @mui/base Menu component's `onBlur` event and menus don't close
   */
  transition-property: background-color, filter, background, box-shadow, border,
    color, opacity, font-weight, scale;
  font-size: var(--font-size);
  line-height: var(--line-height);
  cursor: pointer;
  user-select: none;
  transform: translateZ(0);
  border: 0;
  color: var(--themed-color);
  background-color: var(--themed-background);
  box-shadow: 0 0 0 1px inset var(--themed-border, transparent);
  vertical-align: middle;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.buttonBase:focus-visible {
  outline: auto;
}

.buttonBase:disabled {
  cursor: not-allowed;
  --themed-color: var(--button-disabled-fg) !important;
  --themed-background: var(--button-disabled-bg) !important;
  --themed-border: var(--button-disabled-border) !important;
}

.buttonBase--tertiary:disabled {
  --themed-color: var(--text-secondary) !important;
  --themed-background: transparent !important;
  --themed-border: none !important;
}

.buttonBase--tertiary-dimmed:disabled {
  opacity: 0.8;
  --themed-color: var(--text-hint) !important;
  --themed-background: transparent !important;
  --themed-border: none !important;
}

.buttonBase:disabled :global(.svg-own-color) path {
  filter: grayscale(1);
}

.buttonBase--primary {
  --themed-color: var(--button-primary-fg);
  --themed-background: var(--button-primary-bg);
  --themed-background-hover: var(--button-primary-hovered-bg);
  --themed-color-hover: var(--button-primary-hovered-fg);
  --themed-color-focus: var(--button-focused-fg-inversed);
  --themed-border: transparent;
}

.buttonBase--secondary {
  --themed-color: var(--button-secondary-fg);
  --themed-background: var(--button-secondary-bg);
  --themed-background-hover: var(--button-secondary-hovered-bg);
  --themed-background-focus: var(--button-secondary-focused-bg);
  --themed-color-hover: var(--button-secondary-hovered-fg);
  --themed-color-focus: var(--button-focused-fg);
  --themed-border: var(--button-secondary-border);
}

.buttonBase--secondary-dimmed {
  --themed-color: var(--button-secondary-dimmed-fg);
  --themed-background: var(--button-secondary-dimmed-bg);
  --themed-background-hover: var(--button-secondary-dimmed-hovered-bg);
  --themed-background-focus: var(--button-secondary-dimmed-focused-bg);
  --themed-color-hover: var(--button-secondary-dimmed-hovered-fg);
  --themed-color-focus: var(--button-focused-fg);
  --themed-border: var(--button-secondary-dimmed-border);
}

.buttonBase--tertiary {
  --themed-color: var(--button-tertiary-fg);
  --themed-background: var(--button-tertiary-bg);
  --themed-background-hover: var(--button-tertiary-hovered-bg);
  --themed-background-focus: var(--button-tertiary-focused-bg);
  --themed-color-hover: var(--button-tertiary-hovered-fg);
  --themed-color-focus: var(--button-focused-fg);
  --themed-border: transparent;
}

.buttonBase--tertiary-dimmed {
  --themed-color: var(--button-tertiary-dimmed-fg);
  --themed-background: var(--button-tertiary-dimmed-bg);
  --themed-background-hover: var(--button-tertiary-dimmed-hovered-bg);
  --themed-background-focus: var(--button-tertiary-dimmed-focused-bg);
  --themed-color-hover: var(--button-tertiary-dimmed-hovered-fg);
  --themed-color-focus: var(--button-tertiary-dimmed-focused-fg);
  --themed-border: transparent;
}

.buttonBase--warning {
  --themed-color: var(--button-warning-fg);
  --themed-background: var(--button-warning-bg);
  --themed-background-hover: var(--button-warning-hovered-bg);
  --themed-background-focus: var(--button-warning-focused-bg);
  --themed-color-hover: var(--button-warning-hovered-fg);
  --themed-color-focus: var(--button-warning-focused-fg);
  --themed-border: transparent;
}

.buttonBase--danger {
  --themed-color: var(--button-danger-fg);
  --themed-background: var(--button-danger-bg);
  --themed-background-hover: var(--button-danger-hovered-bg);
  --themed-background-focus: var(--button-danger-focused-bg);
  --themed-color-hover: var(--button-danger-hovered-fg);
  --themed-color-focus: var(--button-danger-focused-fg);
  --themed-border: transparent;
}

.buttonBase:not(:disabled):not(:has(button:hover)).buttonBase:hover {
  color: var(--themed-color-hover, var(--themed-color));
  background-color: var(--themed-background-hover, var(--themed-background));
}

.buttonBase:not(:disabled):not(:has(button:active)).buttonBase:active {
  color: var(
    --themed-color-focus,
    var(--themed-color-hover, var(--themed-color))
  );
  background-color: var(
    --themed-background-focus,
    var(--themed-background-hover, var(--themed-background))
  );
}

@media (hover: none) {
  .buttonBase:hover {
    color: var(--themed-color) !important;
    background-color: var(--themed-background) !important;
  }

  .buttonBase:not(:disabled):not(:has(button:active)).buttonBase:active {
    transition-duration: 50ms;
    --themed-border: none;
    color: var(
      --themed-color-focus,
      var(--themed-color-hover, var(--themed-color))
    ) !important;
    background-color: var(
      --themed-background-focus,
      var(--themed-background-hover, var(--themed-background))
    ) !important;
  }
}
