.ErrorBoundaryPage__content {
  flex-grow: 1;
}

.ErrorBoundaryPage__content > h1 {
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.ErrorBoundaryPage__content > pre {
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.ErrorBoundaryPage__link {
  text-decoration: none;
}
