.confirmFolderDeletion__content {
  padding-top: 0;
}

.confirmFolderDeletion__content > p {
  margin: 0;
  font-size: 16px;
}

.confirmFolderDeletion__form {
  border-top: 1px solid var(--alpha-transparent-07);
  background-color: var(--background-paper);
}

.confirmFolderDeletion__footer {
  background-color: var(--background-default);
}

.confirmFolderDeletion__formLabel {
  color: var(--text-secondary);
  font-size: 14px;
  margin: 0;
}
