@font-face {
  font-family: 'GeistSans';
  src:
    url('/fonts/webfonts/Geist[wght].woff2') format('woff2'),
    url('/fonts/variable/Geist[wght].ttf') format('truetype');
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: 'GeistSans Fallback';
  src: local('Arial');
  ascent-override: 85.83%;
  descent-override: 20.52%;
  line-gap-override: 9.33%;
  size-adjust: 107.19%;
}

:root {
  --font-geist-sans: 'GeistSans', 'GeistSans Fallback';
}
