#storybook-root,
html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--geist-font-family);
  background: var(--background-default);
}

* {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
}

path {
  fill: currentColor;
}
