@font-face {
  font-family: 'Geist';
  src:
    url('/fonts/webfonts/Geist[wght].woff2') format('woff2'),
    url('/fonts/variable/Geist[wght].ttf') format('truetype');
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Geist Fallback';
  src: local('Arial');
  ascent-override: 85.83%;
  descent-override: 20.52%;
  line-gap-override: 9.33%;
  size-adjust: 107.19%;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('/fonts/MuseoSansCyrl/museo_sans_cyrl_100.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('/fonts/MuseoSansCyrl/museo_sans_cyrl_300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('/fonts/MuseoSansCyrl/museo_sans_cyrl_500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('/fonts/MuseoSansCyrl/museo_sans_cyrl_700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('/fonts/MuseoSansCyrl/museo_sans_cyrl_900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
  --font-geist-sans: 'Geist', 'Geist Fallback';
}
