.input {
  display: flex;
  align-items: center;
  border-radius: 12px;
  align-self: stretch;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 0 0 1px inset var(--input-border);
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.input:not(.input--error):not(.input--valid):not(:focus-within):hover {
  box-shadow: 0 0 0 1px inset var(--input-border-hovered);
}

.input input::placeholder,
.input input::-webkit-input-placeholder {
  user-select: none;
}

.input:focus-within {
  box-shadow:
    0 0 0 1px inset var(--input-border-focused),
    0 0 0 3px var(--input-border-focused-shadow);
}

.input--error:focus-within {
  box-shadow:
    0 0 0 1px inset var(--input-border-error),
    0 0 0 3px var(--input-border-error-shadow);
}

.input--valid {
  box-shadow: 0 0 0 1px inset var(--input-border);
}

.input--error {
  box-shadow: 0 0 0 1px inset var(--input-border-error);
}

.input__input {
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 12px;
  color: var(--text-primary);
  display: flex;
  flex: 1 0;
  font-weight: 400;
  width: 100%;
  font-family: var(--font-geist-sans);
}

.input__input:is(:autofill),
.input__input:-internal-autofill-selected,
.input__input:-internal-input-suggested,
.input__input:-internal-autofill-previewed,
.input__input:-webkit-autofill,
.input__input:-webkit-autofill::first-line,
.input__input:-webkit-autofill:hover,
.input__input:-webkit-autofill:active,
.input__input:-webkit-autofill:focus {
  background-color: var(--button-secondary-bg) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--text-primary);
  box-shadow: inset 0 0 0 0 transparent;
}

.input__before,
.input__after {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input__before {
  padding-left: 12px;
}

.input__after {
  padding-right: 12px;
}

.input--size-lg .input__before:has(:global(> .Button)) {
  padding-left: 8px;
}

.input--size-lg .input__after:has(:global(> .Button)) {
  padding-right: 8px;
}

.input--size-md .input__before:has(:global(> .Button)) {
  padding-left: 4px;
}

.input--size-md .input__after:has(:global(> .Button)) {
  padding-right: 4px;
}

.input--size-md {
  height: 40px;
  font-size: 14px;
  border-radius: 12px;
}

.input--size-md > .input__input {
  font-size: 14px;
}

.input--size-lg {
  height: 48px;
  font-size: 16px;
  border-radius: 16px;
}

.input--size-lg > .input__input {
  font-size: 16px;
  padding: 0 14px;
}

.input:has(.input__input:disabled) {
  color: var(--text-secondary);
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}
