.confirmFileDeletion__content {
  padding-top: 0;
}

.confirmFileDeletion__content > p {
  margin: 0;
  font-size: 16px;
}

.confirmFileDeletion__form {
  border-top: 1px solid var(--alpha-transparent-07);
  background-color: var(--background-paper);
}

.confirmFileDeletion__footer {
  background-color: var(--background-default);
}

.confirmFileDeletion__formLabel {
  color: var(--text-secondary);
  font-size: 14px;
  margin: 0;
}