.button {
  --height: 40px;
  --x-padding: 10px;
  --font-size: 14px;
  --line-height: 16px;
  --button-icon-size: 16px;
}

.button {
  padding: 0;
  padding-left: var(--x-padding);
  padding-right: var(--x-padding);
  height: var(--height);
  justify-content: center;
  align-items: center;
}

.button .button__content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.button.button--align-start {
  justify-content: flex-start;
}

.button.button--align-end {
  justify-content: flex-end;
}

.button.button--size-sm {
  border-radius: 8px;
  gap: 10px;
  --x-padding: 12px;
  --height: 32px;
  --font-size: 14px;
  --line-height: 16px;
}

.button.button--size-md {
  border-radius: 12px;
  gap: 12px;
  --x-padding: 16px;
  --height: 40px;
  --font-size: 14px;
  --line-height: 16px;
}

.button.button--size-md.button--primary {
  font-weight: 500;
}

.button.button--size-lg {
  border-radius: 16px;
  gap: 12px;
  font-weight: 500;
  --x-padding: 20px;
  --height: 48px;
  --font-size: 16px;
  --line-height: 18px;
}

.button.button--size-xl {
  border-radius: 16px;
  gap: 12px;
  font-weight: 600;
  --x-padding: 18px;
  --height: 56px;
  --font-size: 20px;
  --line-height: 24px;
}

.button .button__before,
.button .button__after {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--button-icon-size);
  height: var(--button-icon-size);
  flex-shrink: 0;
}

.button .button__before svg,
.button .button__after svg {
  width: var(--button-icon-size);
  height: var(--button-icon-size);
}

.button.button--align-start.button--size-md .button__before > *,
.button.button--align-start.button--size-lg .button__before > * {
  margin-left: -2px;
}

.button.button--align-end.button--size-md .button__after > *,
.button.button--align-end.button--size-lg .button__after > * {
  margin-right: -2px;
}

.button.button--fullWidth {
  width: 100%;
}

.button .button__loading {
  animation: 120ms ease 0ms button-loading-animation;
  overflow: hidden;
  width: 20px;
  height: 20px;
}

.button .button__loading.button__loading--noAnimation {
  animation: none;
}

@keyframes button-loading-animation {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 20px;
    opacity: 1;
  }
}
