.button {
  --height: 40px;
  --x-padding: 10px;
  --font-size: 14px;
  --line-height: 17px;
}

.button {
  padding: 0;
  padding-left: var(--x-padding);
  padding-right: var(--x-padding);
  height: var(--height);
  justify-content: center;
  align-items: center;
}

.button .button__content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.button.button--align-start {
  justify-content: flex-start;
}

.button.button--align-end {
  justify-content: flex-end;
}

.button.button--size-sm {
  border-radius: 8px;
  gap: 10px;
  --x-padding: 12px;
  --height: 32px;
  --font-size: 14px;
  --line-height: 17px;
}

.button.button--size-md {
  border-radius: 12px;
  gap: 12px;
  --x-padding: 16px;
  --height: 40px;
  --font-size: 14px;
  --line-height: 17px;
}

.button.button--size-lg {
  border-radius: 12px;
  gap: 12px;
  font-weight: 500;
  --x-padding: 20px;
  --height: 48px;
  --font-size: 16px;
  --line-height: 20px;
}

.button .button__before,
.button .button__after {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.button.button--size-md .button__before,
.button.button--size-lg .button__before {
  margin-left: -2px;
  width: 16px;
  height: 16px;
}

.button.button--fullWidth {
  width: 100%;
}
