.wrapper {
  --page-margin: 24px;
  --page-width: 1200px;
  --page-width-with-margin: calc(var(--page-width) + 2 * var(--page-margin));
  display: flex;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: var(--page-width-with-margin);
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
}

@media screen and (width < 960px) {
  .wrapper {
    --page-margin: 16px;
  }
}
