.menu__listbox {
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  overflow: auto;
  outline: 0px;
  background: var(--background-paper);
  border: 1px solid var(--alpha-transparent-07);
  color: var(--text-primary);
  box-shadow: var(--shadow-4);
  z-index: 1;
}

.menu__listbox--closed {
  opacity: 0;
  transform: translateY(-8px) scale(0.95, 0.8);
  transition:
    opacity 251ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 167ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__listbox--open {
  opacity: 1;
  transform: translateY(0px) scaleY(1, 1);
  transition:
    opacity 251ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 167ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__listbox--placement-top-start {
  transform-origin: bottom left;
}
.menu__listbox--placement-top {
  transform-origin: bottom;
}
.menu__listbox--placement-top-end {
  transform-origin: bottom right;
}
.menu__listbox--placement-bottom-start {
  transform-origin: top left;
}
.menu__listbox--placement-bottom {
  transform-origin: top;
}
.menu__listbox--placement-bottom-end {
  transform-origin: top right;
}
.menu__listbox--placement-right-start {
  transform-origin: right top;
}
.menu__listbox--placement-right {
  transform-origin: right;
}
.menu__listbox--placement-right-end {
  transform-origin: right bottom;
}
.menu__listbox--placement-left-start {
  transform-origin: left top;
}
.menu__listbox--placement-left {
  transform-origin: left;
}
.menu__listbox--placement-left-end {
  transform-origin: left bottom;
}
