.menu {
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 14px;
  outline: 0px;
  background: var(--background-paper);
  border: 1px solid var(--alpha-transparent-07);
  color: var(--text-primary);
  box-shadow: var(--shadow-4);
  z-index: 1;
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
  overflow: hidden;
  will-change: transform;
}

.menu__inner {
  display: flex;
  flex-direction: column;
  padding: 6px;
  min-width: 200px;
}

.menu[data-type='context'][data-state='open'] {
  animation: growInFromTop 300ms cubic-bezier(0.6, 0, 0, 1);
}

.menu[data-type='context'][data-state='closed'] {
  animation: none;
}

.menu[data-type='dropdown'][data-state='open'] {
  animation: growInFromTop 300ms cubic-bezier(0.6, 0, 0, 1);
}

.menu[data-type='dropdown'][data-state='closed'] {
  animation: growOut 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu[data-type='dropdown'][data-side='top'][data-state='open'] {
  animation: growInFromBottom 300ms cubic-bezier(0.6, 0, 0, 1);
}

.menu__item {
  --x-padding: 12px !important;
  --height: 36px !important;
  --font-size: 15px !important;
  --line-height: 18px !important;
  gap: 14px !important;
  list-style: none;
  outline: none !important;
}

.menu__item[data-highlighted] {
  background-color: var(--themed-background-hover);
  color: var(--themed-color-hover);
}

.menu__item.menu__item--drawer {
  --height: 48px !important;
  --x-padding: 16px !important;
  --font-size: 16px !important;
  --line-height: 20px !important;
}

.menu__separator {
  display: flex;
  flex-grow: 1;
  margin: 4px 8px;
  border-top: 1px solid var(--alpha-transparent-07);
}

@keyframes growInContextMenu {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes growInFromBottom {
  from {
    opacity: 0;
    transform: translateY(8px) scale(0.98, 0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1, 1);
  }
}

@keyframes growInFromTop {
  from {
    opacity: 0;
    transform: translateY(-8px) scale(0.98, 0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1, 1);
  }
}

@keyframes growOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
